@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{  scroll-behavior: smooth;}

/* body{
    overflow-x:hidden;
} */

.navbar {
    background-color: aliceblue;
    border-bottom: 3px solid #ddd;
    z-index: 100;
  }
  
  /* Navbar brand */
  .navbar-brand {
    color: #333;
    font-weight: bold;
  }
  
  /* Navbar links */
  .navbar-nav .nav-link {
    color: #333;
  }
  
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:focus {
    color: #007bff;
  }
  
  /* Navbar toggler */
  .navbar-toggler {
    border-color: #ddd;
  }
  
  .navbar-toggler-icon {
    background-color: #333;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:hover {
    outline: none;
  }
  
  /* Active link */
  .navbar-nav .nav-item.active .nav-link {
    color: #007bff;
  }
  
  /* Dropdown menu */
  .dropdown-menu {
    background-color: #f8f9fa;
    border: none;
  }
  
  .dropdown-item {
    color: #333;
  }
  
  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: #e9ecef;
    color: #333;
  }

 .navbar-nav{background-color: aliceblue;}

.navbar{background-color: aliceblue; z-index:100;}

nav 
{
    height: 100px;
    width: 100%;
    background-color: aliceblue;   
} 



.move{ 
    animation: motion 8s infinite linear;
}

@keyframes motion {
    from {
       transform: translateY(0px);
    }
    to {
         transform: translateY(40px);
    }
  }

  .linear {
    animation-timing-function: linear;
  }

  .infinite {
    animation-iteration-count: infinite;
  }

/* .navbar{  display: flex;} */

.dropdown:hover .dropdown-menu {
    display: block;
  }

  .inner-dropdown:hover .inner-dropdown-menu {
    display:block;
  }

nav ul {
    list-style-type: none; 
    display: inline;
}

nav ul li{
    font-size: 15px; color: gray;
}

#main{
    min-height: 750px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

#main img{
    height: 500px; width: 500px; 
}

#main h1,p
{
    text-align: center;

}

/* about-us */



.nav-link{font-size: 25px;}

#menu1,#menu2,#home p
{
     text-align:start;
 }

 #about{margin: 70px 0px;}


.first{display: flex; flex-direction: row;}
.second img{min-height: 400px; min-width: 300px; border-radius: 20px; margin: 15px;}

.second{ min-height: 450px; max-width:1000px ; background-color: lightblue; display: flex; flex-direction: row; border-radius: 20px; padding: 5px; margin: 50px 150px;}

@media  screen and (max-width:800px)
 {
    .second{ margin: 150px 0px;}
}

.second p{font-weight: bolder; text-align: left;}

.vid .vid1
{
    background-image: url('images/onfocus-content-bg.jpg');
    min-height: 600px; padding:40px; min-width: 50%;
    text-align: left;
}

.vid1 p,li{font-size: 20px;}
.img1{
    min-width: 50%; min-height: 600px;
}



/* .tabular .nav-item{height: 150px; width: 190px; background-color: whitesmoke; margin: 10px; }  */

.tabular img{ min-height: 290px; min-width: 320px; float: right; }

.tabular .tab-content h3,p,li{color: #33334d; text-align: left;}

#modinest p{color:#33334d;}
#Undaesenti p{color:#33334d;}
#Pariatur p{color:#33334d;}
#Nostrum p{color:#33334d;}
#Adipiscing p{color:#33334d;}
#Reprehit p{color:#33334d;}

#features .nav-link{height: 80px; width: 140px; background-color: white; color: black;}

#features .nav-item .active {background-color: palevioletred; color: white;}

#features li a{font-size: 25px;}

#features  li{list-style-type: none;}


/* services */

#services{margin: 100px 0;}

#services .services .ser{margin-bottom: 190px;}
#services .ser .serImg
{min-height: 230px; 
   min-width: 330px; 
    transition: all 0.6s ease;
    border-radius: 10px;
    }



figure{height: 230px; width: 330px; overflow: hidden; border-radius: 10px;}

#services .ser:hover .serImg
{
    transform: scale(1.3);
}

#services .services .ser{position: relative;}

.services .desc
{
    height: 200px; width: 280px; text-align: center; background-color:rgb(145, 213, 213);
    position:absolute;
    top:170px; left: 30px;
}

.services .desc p{color: black; font-size: 15px;}


.carousel-inner{
    background-image: url('images/testimonials-bg.jpg');
    background-repeat: no-repeat;
    height: 450px; width: 100%;
    padding:60px;
    box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .5);
}

.carousel-item .rate{height: 30px; width: 80px; display: flex; justify-content: center;}

.carousel-item img{height: 150px; width: 150px; border-radius: 50%; margin: auto;}

.carousel-item h3,span,p{color: white; text-align: center;}

.carousel-inner span{display: flex; justify-content: center;}



/* price */
#price{margin: 100px 0; }
.price{
    display: flex; flex-direction: row; 

}

.free,.develop
{
    max-height: 700px; min-width: 350px; border: 3px solid black; margin-right: 20px;
}

.business{border: 3px solid deepskyblue; margin-right: 20px;  max-height: 700px; min-width: 350px;}

.free div, .business div, .develop div
{
    background-image: url('images/pricing-bg.jpg');
    height: 150px; width: 100%;
}

.price h2{color:white; font-size: 35px; text-align: center;}
.price p{color:white; font-size: 25px; text-align: center;}

.price ul li{padding: 20px; color: black;}

/* portfolio */
#portfolio{margin: 100px 0;}

#portfolio  img{

    margin: 2px;
}

#portfolio .tab-content img{height: 250px; width: 300px; margin: 20px; transition: all 0.4s ease-out;}

#portfolio img:hover 
{
    transform: scale(1.4);
}

.layer{height: 250px; width: 300px; overflow: hidden;}

#portfolio .nav-item .nav-link{font-size: 18px; }
#portfolio .nav-pills{ display: flex;justify-content: center;}

#portfolio .nav-pills .nav-link {
    color: #333;
    background-color: #f8f9fa;
    border-radius: 20px;
  }
  
 #portfolio .nav-pills .nav-link:hover,
  .nav-pills .nav-link:focus {
    background-color: #e9ecef;
  }
  
 #portfolio .nav-pills .nav-link.active {
    color: #fff;
    background-color: palevioletred;
  }

/* questions */

.questions
{
    display: flex; flex-direction: row; justify-content: space-around;
}

#questions .card-header .btn {color:deepskyblue;}

.questions img{min-height: 400px; min-width: 400px;}

#accordian .card .card-header {min-height: 100px; min-width: 400px;}

#accordian{min-height: 400px; min-width: 500px;}

#team{margin: 100px 0px; text-align: center;}

#blog{margin:50px 0px;}



.blog-details p{color:black;}

.page1{display: flex; flex-direction: row; justify-content: space-between;}

.author{display: flex; flex-direction: row;}

aside{min-width: 400px;
     padding:20px; 
     margin: 40px; 
     float: right; 
     background-color: azure;}

.recent{display: flex; flex-direction: row;}

#contact{
    
    margin-top: 25px; }

#contact .contact {display: flex;flex-direction: row; justify-content: space-around;}

#contact p{color:gray;}

#contact form{margin: 40px;}

#contact .form-control {
    border-radius: 0;
  }
  
  /* Placeholder text */
  #contact  .form-control::placeholder {
    color: #999;
  }

#subscribe{

    width: 100%;
    background-color: rgba(99, 95, 95, 0.182);
    color:#33334d;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer{
    min-height: 100px; 
    width: 100%;
    background-color: #33334d;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#subscribe input[type="text"]
{
    height: 50px;
    width: 300px;
}


#subscribe input[type="button"]
{
    padding: 20px; 
    width: 100px;
    background-color:cadetblue ;
    color:white;
}

#subscribe ul li{

    list-style-image: url("images/arrow.png");
    align-items: center;
}

footer li img
{
    height: 40px; width: 50px;
    
}

.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}


